*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial',sans-serif;
    line-height: 1.6;
    color: #333;
}
.container{
    max-width : 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    background-color: #2c3e50;
    color:white;
    padding:1rem 0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom : 0.2rem;
}
.logo tagline{
    font-size: 0.9rem;
    opacity: 0.8;
}
.nav-links{
    display:flex;
    list-style:none;
    gap:2rem;
}
.nav-links a{
    color:white;
    text-decoration: none;
    padding:0.5rem 1rem;
    border-radius: 4px;
    transition: backgroud-color 0.3s ease;
}
.nav-links a:hover{
    background-color: rgba(255,255,255,0.1);
}

/* Herro Secton */

.hero{
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0,0.5)),url('https://www.google.com/search?q=restaurant+dinig+images&sca_esv=bfbbb328790af9c1&rlz=1C9BKJA_enIN1172IN1172&hl=en-GB&udm=2&biw=1180&bih=682&sxsrf=APpeQnv6zBj1Gpdq3ws0VKbh7mdssXi6Ng%3A1790831272762&ei=qOq9ataVLqWYhvcPxcSf2Ac&oq=restaurant+dinig+images&gs_lp=EhJtb2JpbGUtZ3dzLXdpei1pbWciF3Jlc3RhdXJhbnQgZGluaWcgaW1hZ2VzMgcQABiABBgNMggQABgIGB4YDTIIEAAYCBgeGA0yCBAAGAgYHhgNMggQABgIGB4YDUj9RlDCL1jORXAAeACQAQGYAaEBoAHnDaoBBDMuMTO4AQPIAQD4AQGYAg-gAtYMwgIHECMYyQIYJ8ICCBAAGIkFGKIEwgIIEAAYgAQYogTCAggQABiABBixA8ICBRAAGIAEwgIGEAAYHhgNmAMAiAYBkgcEMy4xMqAHlTmyBwQzLjEyuAfWDMIHBjMuMTEuMcgHEIAIAQ&sclient=mobile-gws-wiz-img#sv=CAMSVxoyKhBlLXVRdnRvM0g2WEhwNEtNMg51UXZ0bzNINlhIcDRLTToOb1hseDFMek5sUWo0YU0gBCoXCgFzEhBlLXVRdnRvM0g2WEhwNEtNGAEwAUoECAEQAhgHIKjCydEFSggQAhgBIAIoAQ') center/cover;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}